---
import App from "@/components/app.astro";
import { Image } from "astro:assets";

import { siteData } from "@/data/site";
import StepSection from "@/components/sections/StepSection.astro";
import DownloadSection from "@/components/sections/DownloadSection.astro";
---

<App
	title={siteData.referral.title}
	description={siteData.referral.description}>
	<div class="w-full h-64 md:h-80 lg:h-96 overflow-hidden">
		<Image
			src={"/images/banner.webp"}
			alt="MariBank Referral Banner"
			width={1200}
			height={800}
			class="w-full h-full object-cover mask-[linear-gradient(to_bottom,black_40%,transparent)]"
		/>
	</div>

	<div class="max-w-7xl mx-auto px-4">
		<StepSection siteData={siteData} />

		<DownloadSection />
	</div>
</App>
